[2014-10-28 13:52] rvanbaalen opened #1 "InstagramService not working locally"
@keithdmoore I keep getting this error in my console when I pull in the app and run it:

[code]

How do you run & test your app? I run it with `grunt serve`

[2014-10-30 04:22] keithdmoore opened #2 "ImgCache is not defined"
Anton,
Welcome to the coding party !
I figured I would let you know about these issues before Robin does...

Running "jshint:all" (jshint) task

app/scripts/app.js
  line 26  col 5   'ImgCache' is not defined.

app/scripts/directives/bg-image.js
  line 17  col 23  'ImgCache' is not defined.
  line 19  col 21  'ImgCache' is not defined.
  line 26  col 31  'ImgCache' is not defined.
  line 43  col 2

[2014-10-30 17:22] #2 closed, assigned to antonshevchenko

[2014-11-04 03:54] rvanbaalen opened #3 "Card swipe 'like' doesn't work"
Hey Keith. Awesome progress so far!

I'm sure you already know this but just wanted to post this as a heads up -- 'like' doesn't work when swiping cards.

Could you perhaps 'mock' the functionality so it doesn't throw errors and hang the app?

[2014-11-04 05:13] rvanbaalen opened #4 "Make use of localStorage API or angular-local-storage"
@keithdmoore You might want to take a look at: http://mdn.io/localStorage

localStorage and sessionStorage have a API to use when you set, get and remove items.
I noticed you used `localStorage['TrendiCity:accessToken'];` for example. I don't know why that works, but I believe it shouldn't work.

[2014-11-05 04:57] #4 closed, assigned to nobody

[2014-11-05 05:28] #3 closed, assigned to nobody

[2014-11-05 07:45] keithdmoore opened #6 "Image caching generating errors on home.html"
![screen shot 2014-11-02 at 9 56 03 pm](https://cloud.githubusercontent.com/assets/954458/4914223/894dcb94-64bf-11e4-989f-6c039a0d2b07.png)

[2014-11-05 07:53] keithdmoore opened #7 "Map does not display on iPhone or Android device"
The "My Location" displays but the map itself does not display on iPhone or Android device.

[2014-11-05 16:36] #6 closed, assigned to antonshevchenko

[2014-11-07 19:36] thoughtpalette opened #8 "Favorites"
Are these based on users current favorited ("liked") photos and we're just mapping them using locations?

Or will the ability to favorite locations be added in another area of the app and this is just pulling them in/displaying?

Just a little confused on this overall functionality. Anyone?

( this is what I get for being 'out of the loop')

[2014-11-07 19:39] thoughtpalette opened #9 "Create Session Service"
Propose creating some sort of Session service to access/set localStorage keys.

Something like this:

[code]

[2014-11-07 19:51] #9 closed, assigned to nobody

[2014-11-07 20:27] #8 closed, assigned to nobody

[2014-11-10 01:49] rvanbaalen opened #10 "ImgCache CORS errors"
I'm getting a boat load of CORS errors from the ImgCache library, like this one:

[code]

It it just me or is something messed up?

[2014-11-10 02:07] rvanbaalen opened #11 "Using OpenStreetMaps instead of Google Maps"
Does anyone have an issue with using OpenStreetMaps instead of Google Maps?

[2014-11-10 03:29] #7 closed, assigned to rvanbaalen

[2014-11-11 20:00] #10 closed, assigned to antonshevchenko

[2014-11-12 20:27] thoughtpalette opened #12 "How to access $scope in leaflet popoup"
I assume from a UI perspective we'll want to have an 'Add Favorites' UI element (star icon or otherwise) in the popover. I have not figured out how to pass $scope in though to access the location object and pass that into my favorites service.

![pin](https://cloud.githubusercontent.com/assets/690624/5017986/056050b8-6a78-11e4-8f26-5dfcea67fd92.jpg)

Anyone have an idea?

[2014-11-12 23:00] #12 closed, assigned to nobody

[2014-11-13 03:34] keithdmoore opened #13 "Clicking on a Favorite disables Menu and Search; also Tabs are missing"

[2014-11-13 04:10] keithdmoore opened #14 "Map: Current location is not working on actual devices"

[2014-11-14 03:40] rvanbaalen opened #16 "Local storage use will now be handled by angular-local-storage"
Hi guys,

To standardize all calls to and from localStorage I've implemented the angular-local-storage service (localStorageService) all over the place.

So this:

[code]

Will now be this:

[code]
### Config

This coolness is all possible thanks to the localStorageServiceProvider in `config.js`

[code]

Thanks to this configuration all actual localstorage keys are prefixed with 'trendicity'. Mean

[2014-11-14 04:17] rvanbaalen opened #17 "Geolocation Service"
Hi all,

I've created the Geolocation service as a wrapper service for all Geolocation related calls.
I did this mainly to have a unified way of calling the `getCurrentPosition()` method on the `geolocation` object since in Ionic, it needs to be wrapped in `$ionicPlatform.ready()`.

For Chris, I've also added a neat little method to convert a plain text address to latitude / longitude coordinates

[2014-11-20 16:03] #17 closed, assigned to rvanbaalen

[2014-11-20 16:04] #16 closed, assigned to rvanbaalen

[2014-11-22 13:36] keithdmoore opened #19 "Map: Takes 5 minutes to load on Android"
Looks like maybe the map is set to be too detailed.  When displayed on a Samsung Tab 3 (10inch) tablet, it takes 5 minutes for the map to display.  When the map does display,  it shows a extremely detailed view of Berlin.

[2014-11-24 02:15] rvanbaalen opened #21 "Allow for international Favorite locations"
@thoughtpalette Like we've discussed before in the chat:
- [ ] Use 'address' as an input field for a new favorite (this allows international favs that don't have a State)
- [ ] Use the `GeolocationService.addressToPosition()` to convert that address into coordinates

[2014-11-24 02:21] rvanbaalen opened #22 "Map: Improve map performance / grey tiles on devices"
Since leaflet is passing map events (dragging / zooming) to Google Maps, this causes quite some performance issues especially on the devices like not showing any tiles at all and just show grey tiles instead.

Can anyone reproduce this issue?

I'm thinking about replacing leaflet by a more native-feeling library but havn't found any good ones yet. Any suggestions are very welcome!

Related topic:

[2014-11-24 02:28] rvanbaalen opened #23 "Intro text doesn't fit on small screens and isn't scrollable"
The intro text (first slide) doesn't fit on small screens due to the 'large' image.

This causes the navigation indicator bullets to show on top of the onderlaying text, which is ugly. Should the bullets have a background color? And can we make these intro slides scrollable (vertical)?

![img_3950](https://cloud.githubusercontent.com/assets/220637/5160336/36fca496-7360-11e4-9834-a752b54d0a90.JPG)

[2014-11-24 02:51] rvanbaalen opened #24 "Swipe Cards: Performing really slow on Galaxy S4"
On my iPhone 6, the animation runs fairly smooth but on a Galaxy S4 running Android 4.4.2, the performance is horrible. I barely see any animation.

I believe this is caused by the high amount of images being loaded into the view simultaneously. Perhaps we could load +/- 5 images as a stack and add a new one every time someone swiped away another card.

Another note; on both my iPhone 6, a Galaxy

[2014-11-24 03:04] rvanbaalen opened #25 "Maps: Unknown init code in Maps Controller"
@thoughtpalette Can you please explain what is going on here?

https://github.com/trendicity/trendicity/blame/master/app/scripts/controllers/map.js#L22

I can't make any sense out of it and it looks (smells) like a [code smell](http://en.wikipedia.org/wiki/Code_smell)

I tend to kill that little snippet all together if it doesn't do anything..

[2014-11-24 03:23] #19 closed, assigned to rvanbaalen

[2014-11-24 03:58] #23 closed, assigned to nobody

[2014-11-25 01:25] #25 closed, assigned to nobody

[2014-11-25 02:48] #21 closed, assigned to nobody

[2014-11-25 03:05] #13 closed, assigned to antonshevchenko

[2014-12-05 06:16] #1 closed, assigned to keithdmoore

[2014-12-22 02:01] #11 closed, assigned to nobody

[2014-12-22 02:15] rvanbaalen opened #28 "Replace <header> for <ion-header-bar> in sidemenu template"
Especially for the sake of 'showing Ionics UI elements' why should we use `<header>` instead of `<ion-header-bar>` ?

I'm about the replace <header> for <ion-header-bar>. Any objections?

[2014-12-22 02:36] rvanbaalen opened #29 "Do we have Android users on the team?"
Is anyone on the team an Android user or do most of you have an iPhone?

I was wondering if 'tap to scroll' is an iOS specific feature or do Android apps offer it as well?

With 'tap to scroll' I mean tapping the header / statusbar to scroll the app's content back to the top.

[2015-01-06 07:12] keithdmoore commented on #29
I have an iPhone 5 that I use regularly.  I also have a Samsung Galaxy Tab 3 (10 inch) tablet that I use for testing mobile apps with.  It is running 4.4.2.  The "Tap to scroll" does work in Trendicity on my Android tablet.  Not sure about other apps.

[2015-01-06 15:17] thoughtpalette commented on #29
iPhone 6 here

[2015-01-06 20:51] antonshevchenko commented on #29
^ same

[2015-01-09 01:19] rvanbaalen opened #30 "Implement ngCordova in the geolocation service"
It's all in the title.

[2015-01-16 03:12] rvanbaalen opened #31 "execvp(): No such file or directory"
@antonshevchenko I keep getting this error when I run `ionic serve`

Yes, I did run `npm install` first.

[2015-01-16 03:40] rvanbaalen commented on #30
This seems to be done in the `beta14` branch. But at the moment I can't test due to some issues with `ionic serve` @antonshevchenko

[2015-01-16 13:21] antonshevchenko commented on #31
@rvanbaalen I've cloned a fresh copy of the repo and switched to beta14 branch and did not get this error. Can you post a screenshot of what happens in the console?

[2015-01-16 13:59] rvanbaalen commented on #31
This is the error:

![screen shot 2015-01-16 at 09 57 19](https://cloud.githubusercontent.com/assets/220637/5777115/1e3a38c6-9d66-11e4-97d9-fb454436da91.png)

Due to this error, the server closes. So initially I can open the first page of the app but due to the server being killed with this error, the proxy etc. don't work and I can't refresh anything of course. It's just loaded in memory so to sa

[2015-01-16 14:00] rvanbaalen commented on #31
I'll go ahead and kill everything I have locally and re-clone the repo to check if that helps

[2015-01-16 14:02] antonshevchenko commented on #31
@rvanbaalen Alright. Let me know how it goes!

[2015-01-16 14:04] rvanbaalen opened #32 "Add application icon"
And perhaps corresponding splashscreen?

This is the file that is being used for this repo now:
![iconpsd](https://cloud.githubusercontent.com/assets/220637/5777253/fe7ad792-9d66-11e4-8645-bd0bf3e0b7dc.png)

(Download the 'not available' image and rename to `.PSD`)

[2015-01-16 14:06] keithdmoore commented on #31
It could be your version of the ionic cli

[2015-01-16 14:20] rvanbaalen commented on #31
Yesterday when we talked about it I updated to the latest version with npm update -g ionic

What version do you run Anton?

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-01-16 14:21] antonshevchenko commented on #31
@rvanbaalen 1.3.2. Is it still causing problems?

@keithdmoore Do you have the same error when you try running on beta14 branch?

[2015-01-16 14:45] keithdmoore commented on #31
I am using 1.3.2.  I blew away my project and started from scratch.  When I ran ionic serve, the server started up and then closed without an error.   The app loaded up in Chrome and the address bar was flashing like it was in an infinite loop.  I was unable to open the javascript console to see what was happening.

[2015-01-16 15:23] rvanbaalen commented on #31
I experienced that as well Keith. But after closing Chrome and rerunning ionic serve that issue went away and this issue discussed above showed up.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-01-17 01:39] antonshevchenko commented on #32
See 768fed1ebc4a46e1c9a4a168224f129a18fcf9f9. Added icon to /resources directory to work with `$ ionic resources`.

[2015-01-17 02:17] antonshevchenko commented on #31
@rvanbaalen Try this: `$ ionic serve [http-port] [livereload-port]` to run using a different port than the usual. See http://forum.ionicframework.com/t/why-ionic-serve-fails/4466/3

[2015-01-17 04:50] keithdmoore commented on #31
ionic serve 8081 --noliverelead   no workie...infinite loop

[2015-01-17 07:12] keithdmoore commented on #31
I think it might have something to do with either the version of one of the below:
I borrowed mac with these versions,  the app launched just fine:
^C~/projects/github/trendicity $ node --version
v0.10.33
~/projects/github/trendicity $ npm --version
2.1.10
~/projects/github/trendicity $ ionic --version
1.2.9
~/projects/github/trendicity $ gulp --version
[gulp] CLI version 3.6.2
[gulp] Local versio

[2015-01-17 07:16] keithdmoore commented on #31
@diegonetto will love this!
Problem solved.  Upon obtaining the versions of the above on my macbook pro, I found that gulp wasn't installed.  Gee, it would have been nice to have an error message stating as such.

npm install gulp -g

[2015-01-17 15:18] antonshevchenko commented on #31
@keithdmoore Nice! I've added a preinstall script to the `package.json` to make sure users have everything they need, including cordova, ionic and gulp. See 9e67dc36a95fe7815ab97829d8928a0ab46fe5f0.

[2015-01-17 15:44] antonshevchenko opened #33 "Hooks not working"
Ported the hooks we had from master and they aren't working (not adding cordova plugins for example).

[2015-01-17 15:52] antonshevchenko commented on #32
Also added splashscreen (see 573aee5b99fb27323699f2a3b5cebb40f1d315d3).

[2015-01-18 01:10] troymott commented on #32
Anton, would you like to have Max take a look? He just asked me if there is anything he can do to help.

--Troy

[2015-01-18 22:37] rvanbaalen commented on #31
I love that brilliant mind of yours @keithdmoore :+1: :stuck_out_tongue_closed_eyes:

Running `npm install` with the current project (that Anton updated with install -g ionic cordova gulp) worked for me. Now that I have gulp up and running, it's all good in the hood.

This issue is fixed.

[2015-01-18 22:37] #31 closed

[2015-01-19 02:34] rvanbaalen opened #34 "CDVPlugin class IonicKeyboard (pluginName: Keyboard) does not exist"
I just gonna leave this here for now. Should be an easy fix for anyone wanting to hop on. @thoughtpalette perhaps?

When running the `beta14` branch on iOS platform:

[code]

[2015-01-19 02:35] rvanbaalen opened #35 "CDVPlugin class CDVLogger (pluginName: Console) does not exist."
Same as previous issue. Should be easy to fix. @thoughtpalette Can you take a look at it?

[code]

[2015-01-19 02:42] thoughtpalette commented on #34
I'm not available tonight. I was unaware of tomorrows timeline until today :\

[2015-01-19 05:26] keithdmoore opened #36 "Search Icon showing up when Favorites link is clicked"

[2015-01-19 05:26] keithdmoore commented on #36
Use the "beta14" branch please.

[2015-01-19 13:27] antonshevchenko commented on #32
@rvanbaalen Did you push your fix for the resources (icon size)?

[2015-01-19 13:33] antonshevchenko commented on #35
Related to #33.

[2015-01-19 13:33] antonshevchenko commented on #34
Related to #33.

[2015-01-19 14:29] rvanbaalen commented on #33
Ah my bad didn't look further than the issue I encountered. Now I see the root cause of my two issues.

[2015-01-19 21:20] keithdmoore commented on #36
@antonshevchenko  Now the search icon doesn't display on the card and list views.

[2015-01-19 21:21] antonshevchenko commented on #36
@keithdmoore So you want it to be hidden on map view only?

[2015-01-19 21:27] keithdmoore commented on #36
I am fixing it.  Yes, I suppose that would be fine.  The original problem was that the tabs were inoperable when coming from a favorite.  Another issue was the search icon selections werent working as well.  That was the problems found a few months ago.  Chris decided to just remove the search icon upon selecting a favorite.  Ideally, having the search icon and the tabs work properly when coming f

[2015-01-19 21:30] thoughtpalette commented on #36
I believe we hid it because at that point the search was context specific and didn't make sense in relation to the favorite view.

[2015-01-19 21:32] keithdmoore commented on #36
It makes sense to me to allow the user to decide to search using the search criteria which would then ignore the favorite at that point.

[2015-01-19 21:33] keithdmoore commented on #36
@thoughtpalette  Glad to see that you are still alive!

[2015-01-19 21:45] keithdmoore commented on #36
Ooops.  My change was in Robin's new map branch.   Anton, my change is the same as yours.  I just put in the beta14-new-map branch.

[2015-01-19 21:46] thoughtpalette commented on #36
I'm still here @keithdmoore! Just super busy and away from home.

Here's the reasoning behind the search being disabled.
https://github.com/trendicity/trendicity/issues/13#issuecomment-64302831

[2015-01-19 21:51] keithdmoore commented on #36
I really think it makes sense for the search icon to always be there.  It should wipe out the favorite and do the search.

[2015-01-19 22:03] rvanbaalen commented on #36
Noooo dont you dare touch my branch :P

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-01-19 22:05] rvanbaalen commented on #36
I agree with you keith. But at the same time we should focus on fixing bugs and improving performance instead of fine tuning app use.

No one will probably use the app. Its just a tech demo.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-01-20 00:23] keithdmoore opened #37 "side menu opens when dragging a card in card view"
Appears to only occur when you have a invoke a url from a ion-tab.  /
Opened an issue: https://github.com/driftyco/ionic/issues/2957

[2015-01-20 01:12] rvanbaalen commented on #32
@antonshevchenko The issue with the app icon was that you forgot to rename it to PSD instead of PNG.

I just named it as a .png in order for Github to allow the upload of this PSD file :package:

[2015-01-20 01:13] #32 closed

[2015-01-20 01:14] rvanbaalen commented on #33
The question we must ask ourselves is: do we still need the hooks? It seems like the ionic cli takes care of most of this logic these days.

What do you think @antonshevchenko @keithdmoore @diegonetto ?

[2015-01-20 01:15] antonshevchenko commented on #33
@rvanbaalen We only kept the hooks pertaining to managing cordova plugins, which as far as I know isn't handled by Ionic's CLI.

[2015-01-20 01:31] rvanbaalen commented on #33
I noticed that @antonshevchenko

What is the error you get by the way? For me it seems like a permissions problem

[2015-01-20 01:31] keithdmoore commented on #36
In my opinion, it is a bug

[2015-01-20 01:33] keithdmoore commented on #33
I am not having any issues with the plugins

[2015-01-20 01:37] antonshevchenko commented on #33
@rvanbaalen After running `ionic platform add ios`, it says in the console that it ran the `after_platform_add` scripts but in reality no plugins are being installed (checked using `cordova plugins list`). I had to manually add them one by one.

[2015-01-20 13:25] antonshevchenko commented on #37
@keithdmoore Check the fix. I tested it out and it works.

[2015-01-20 13:39] keithdmoore commented on #37
@antonshevchenko Unfortunately, your fix doesn't work.  One strange thing that happens is that when the changed file, like "cards.js" is reloaded, it works temporarily.  However, if you shut the server down and restart, you soon realize the fix doesn't work.

[2015-01-20 14:07] rvanbaalen commented on #37
NEVER restart your server :P

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-01-20 14:09] antonshevchenko commented on #37
@rvanbaalen Yes! :)

[2015-01-20 14:11] keithdmoore commented on #37
I thought I had fixed it several times.

[2015-01-20 14:13] antonshevchenko commented on #37
By the way, you forgot to add the `$timeout` dependency in `HomeCtrl` in your fix.

[2015-01-20 14:30] keithdmoore commented on #37
Thanks.  I corrected that and changed it back to beforeEnter.  Still doesnt work though.  :-(

[2015-01-21 03:48] keithdmoore commented on #37
@diegonetto @alevicki @thoughtpalette any ideas on how to fix this?  any desire to help fix this?  any help would be appreciated.  I am out of ideas on how to fix this.

[2015-01-21 13:12] rvanbaalen commented on #37
Is anyone still alive and able to help @keithdmoore out on this?

[2015-01-21 13:33] antonshevchenko commented on #37
Been trying to fix it yesterday as well. Tried using a delegate-handle on ion-side-menus with no success.

[2015-01-21 13:42] rvanbaalen commented on #37
Troy keeps saying Max wants to help out. This seems like a perfect case where he can help?

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-01-21 13:42] antonshevchenko commented on #37
And... I tried something crazy right now and it fixed it!

[2015-01-21 13:44] antonshevchenko commented on #37
Just noticed, after restarting server it doesn't work again. @rvanbaalen let's get Max's help?

[2015-01-21 13:45] rvanbaalen commented on #37
Perhaps inform Troy that he sends out an e-mail requesting help on this
matter.

From what I understood, Keith also had a similar fix before which was gone
after a server restart.

------------------------------------------
Neverwoods
Margrietlaan 10
Willemstad, Curaçao
T (+599 9) 522 9996
W http://www.neverwoods.com

"we create the future"

On Wed, Jan 21, 2015 at 9:44 AM, Anton Shevchenko <notif

[2015-01-21 13:49] antonshevchenko commented on #37
@rvanbaalen Sent.

[2015-01-21 13:49] rvanbaalen commented on #37
:+1:

------------------------------------------
Neverwoods
Margrietlaan 10
Willemstad, Curaçao
T (+599 9) 522 9996
W http://www.neverwoods.com

"we create the future"

On Wed, Jan 21, 2015 at 9:49 AM, Anton Shevchenko <notifications@github.com>
wrote:

[2015-01-22 01:47] mhartington commented on #37
Something I noticed that could be the cause. When I added a city to favorites, I was able to pass that ID to the maps view, but not the list view or cards view. Is this something intentional or no?

[2015-01-22 01:50] keithdmoore commented on #37
I think that is a separate issue.  Thanks for bringing to our attention.  If you go directly into the app which takes you to the map view.  Then click on card view, you can drag the content and open the menu.  This is what I am trying to correct.

[2015-01-22 04:24] keithdmoore commented on #37
@mhartington locally, I removed the favorite id from the href's and removed the routes even.  No luck.  Ran using ````python -m SimpleHTTPServer````  No luck there either.   :-(

[2015-01-22 04:28] mhartington commented on #37
This may be a case where there are too many things going on all at once

[2015-01-22 04:31] keithdmoore commented on #37
Ok.  I found the problem.   The map integration looks to be the issue.  If I change the default route to the card view; I am not able to drag the content to open the menu.  It works!  Then navigating to the list view, I can drag the content to open the menu.  Navigate back to card view, I am not able to drag the content to open the menu.  Something about displaying the map is causing the issue.

@

[2015-01-22 04:39] keithdmoore commented on #37
I am about to pull out all my hair now!  If I change the default route to the list view, and then navigate to the card view.  The drag on the content opens the side menu.  Arrrgh!

[2015-01-22 05:26] keithdmoore opened #38 "Incorporate editor notes and external review comments in Favorites chapters"

[2015-01-22 05:30] keithdmoore opened #39 "Revise Trendicity, Authentication and Instagram service chapters"
Cleanup current writing.  Work TODO's.  Make changes as appropriate based on beta14 upgrade

[2015-01-22 05:30] keithdmoore opened #40 "Finish writing chapter on Map integration"

[2015-01-22 05:32] keithdmoore opened #41 "Write chapter on Getting app ready for production"

[2015-01-22 05:32] keithdmoore commented on #41
Minification, obfuscation, etc.

[2015-01-22 19:21] rvanbaalen commented on #40
Drop it in the recycle bin and start all over would be the approach for this one since in beta14 we've dropped leaflet support all together.

[2015-01-22 19:23] rvanbaalen commented on #41
Copy paste this and you're done:

- gulp-minify
- gulp-uglify
- `ionic browser install crosswalk`
- tip & trick:
  - ionic serve
  - quit server
  - ionic run ios --livereload
  - Now you have browser and ios app with live reloading enabled.

[2015-01-22 23:01] keithdmoore commented on #41
discussing workflow using Ionic tooling, specifically with live-reloading both web & simulator apps, icons and splash screens, cordova project best practices, plugin management, and crosswalk.

[2015-01-23 03:40] keithdmoore commented on #37
Workaround was to do this in the CardViewCtrl:
[code]

Perry and Mike will work on a more permanent solution.

[2015-01-23 03:40] #37 closed

[2015-01-23 03:47] keithdmoore commented on #41
@diegonetto  Looks like this will be a slow process
https://github.com/driftyco/ionic-cli/issues/168

[2015-01-25 17:45] keithdmoore commented on #24
FYI...If you are not logged in and swipe/drag a card left, you are no longer required to be logged in.

[2015-01-25 18:02] rvanbaalen commented on #24
Sweet. That is a huge improvement. I never log in ;-)

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-01-25 18:03] keithdmoore commented on #24
Not really correct in my opinion but considering what this project is for....it makes sense.

[2015-01-26 01:18] thoughtpalette commented on #38
Implemented. :man:

[2015-01-26 01:18] #38 closed

[2015-01-26 05:20] keithdmoore commented on #39
Complete

[2015-01-26 05:20] #39 closed

[2015-01-29 03:39] rvanbaalen commented on #14
Is this done now?

[2015-01-29 03:39] #14 closed

[2015-01-29 03:40] rvanbaalen commented on #22
Well since a couple of branches have died on this issue, I finally nailed it. Fully implemented angular-google-maps directive and some of it's fancy features once I was able to wrap my head around it.

[2015-01-29 03:40] #22 closed

[2015-01-29 03:40] rvanbaalen commented on #24
This is done?

[2015-01-29 03:40] #24 closed

[2015-01-29 03:40] rvanbaalen commented on #28
Should still do this and test it.

[2015-01-29 03:41] #29 closed

[2015-01-29 03:41] rvanbaalen commented on #30
Done

[2015-01-29 03:41] #30 closed

[2015-01-29 03:41] rvanbaalen commented on #33
Where are we on this one?

[2015-01-29 03:42] rvanbaalen commented on #34
Where are we on this one?

[2015-01-29 03:42] rvanbaalen commented on #35
Where are we on this one?

[2015-01-29 03:42] rvanbaalen commented on #36
Where are we on this one?

[2015-01-29 16:24] thoughtpalette commented on #36
@rvanbaalen I believe @antonshevchenko may have taken care of this awhile ago.

[2015-01-30 03:12] keithdmoore opened #44 "map not displaying on iPhone 5S device"
map not displaying on iPhone 5S device.  Also, card view and list view are broke as well.  The card and list view will work if the search is changed to trending for example.  or if changed it back to nearby.

[2015-02-01 07:34] keithdmoore commented on #44
#33, #34 and #35 seem to be related to this issue.  I removed the ios platform and added it.  The plugins were installed and I was able to view the map on my iPhone 5S.  Current location was not shown until I used the option in the About view.
Card and list view are a separate issue.

[2015-02-01 07:34] #44 closed

[2015-02-01 08:49] keithdmoore opened #45 "Map on actual android device and actual iOS device buggy"
Map is sluggish and slow.  Sometimes current position works and sometimes it doesnt.

[2015-02-01 08:50] keithdmoore opened #46 "Current Location marker should have a different color than post markers"

[2015-02-01 08:51] keithdmoore opened #47 "Post markers should close the current popup when selected"

[2015-02-01 08:55] keithdmoore commented on #28
With beta14 upgrade, this was addressed.

[2015-02-01 08:55] #28 closed

[2015-02-01 19:53] #33 closed

[2015-02-01 19:55] #34 closed

[2015-02-01 19:55] #35 closed

[2015-02-02 13:17] rvanbaalen commented on #47
Related issue: https://github.com/angular-ui/angular-google-maps/issues/434

------------------------------------------
Neverwoods
Margrietlaan 10
Willemstad, Curaçao
T (+599 9) 522 9996
W http://www.neverwoods.com

"we create the future"

On Sun, Feb 1, 2015 at 4:51 AM, Keith D. Moore <notifications@github.com>
wrote:

[2015-02-02 14:42] rvanbaalen commented on #36
@antonshevchenko So what's the status with this one?

cc'ing @keithdmoore since he has been recently active in the repo

[2015-02-02 15:19] antonshevchenko commented on #36
@rvanbaalen I pushed a tentative fix. It required to change a bit of the logic behind how we handle favorites. With the fix it now works as @keithdmoore wanted. There is one thing though: the posts are being reloaded on each state change inside the home view. Would be great to avoid this.

[2015-02-02 15:21] rvanbaalen commented on #36
Is that new since I refactored the Home controller or was it there before?
I've refactored the Home controller to be compatible with the new maps
logic. Can you confirm the posts are still being updated every state
refresh?

------------------------------------------
Neverwoods
Margrietlaan 10
Willemstad, Curaçao
T (+599 9) 522 9996
W http://www.neverwoods.com

"we create the future"

On Mon, Feb

[2015-02-02 15:24] antonshevchenko commented on #36
The thing is the posts are out of sync between the different tabs.

[2015-02-03 14:32] antonshevchenko commented on #36
@keithdmoore Did you manage to fix the issue with posts being out of sync between views? I'm still trying to figure it out.

[2015-02-03 14:42] rvanbaalen commented on #36
Take a good look at the home controller. I put some facy stuff in there that might be related.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-02-03 15:01] keithdmoore commented on #36
Fixed

Pecked out from my iPhone

[2015-02-03 15:40] keithdmoore commented on #36
@antonshevchenko I was going to close the issue but I wanted to ask you to test it out to make sure I didn't miss something.

[2015-02-03 15:41] antonshevchenko commented on #36
@keithdmoore Sure thing! I'll check it out right now.

[2015-02-03 15:44] antonshevchenko commented on #36
The posts still are out of sync between the card and list tabs.

[2015-02-03 15:46] keithdmoore commented on #36
Ok.  I will take a look at it tonight.  I was trying to avoid a refresh when switching between views.

[2015-02-03 15:47] antonshevchenko commented on #36
Printing the list of posts (`$scope.posts.data`) gives the same thing for both tabs, but for some reason the first card in the card view is not the first post.

[2015-02-03 15:51] keithdmoore commented on #36
I wonder if it is in reverse order?  I dont recall

[2015-02-05 03:32] keithdmoore commented on #36
Sometimes the posts are in reverse order.  Not sure how that happens.  However, I did fix the issue with the posts not being the same in the usecase.

Goto Favorites -> Select a favorite -> Select Home from menu.  In this case the posts should be for the current location.  The favorite was not being cleared in this scenario.  With my commit 605612ada95b292d2cb209b099a48e5f6d86079f , It is cleared

[2015-02-05 03:32] keithdmoore commented on #36
@antonshevchenko can you please retest?

[2015-02-05 12:53] antonshevchenko commented on #36
I've retested and the posts are still out of sync. Also selecting a favourite, and then going back home the card view contains the same posts (favorites posts).

[2015-02-05 13:16] keithdmoore commented on #36
I noticed the posts are in reverse order sometimes.  Can you give me steps to reproduce?

[2015-02-05 13:17] keithdmoore commented on #36
You did get the latest right?

[2015-02-05 13:21] antonshevchenko commented on #36
Yes. I just followed your steps for the favorites testing. For the out of sync, it can be noticed when changing the search value (e.g.: from nearby to trending) and viewing the posts on the card and list view tabs.

[2015-02-05 13:24] keithdmoore commented on #36
You are testing in Chrome, right?

[2015-02-05 13:26] antonshevchenko commented on #36
Tested in both Chrome and Safari

[2015-02-05 13:43] keithdmoore commented on #36
I will take another look tonight

[2015-02-05 13:48] rvanbaalen commented on #36
Throw me a line on Hangouts tonight. I might have some time to help out and or test.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-02-05 13:52] keithdmoore commented on #36
@rvanbaalen fix the map!

[2015-02-05 14:41] antonshevchenko commented on #36
@keithdmoore Do you think storing the posts in its own service would make more sense and avoid any weird bugs? Instead of having to inherit the data from `HomeCtrl`.

[2015-02-05 14:54] rvanbaalen commented on #36
It does make sense. You could abuse the MapService for this since its already keeping track of posts sort of. All markers have full post data on them.

Or better yet have a PostsService to share data across controllers and services and use that posts service in the MapService as well (I could do that)

Regarding the map: I have no clue where to get started on this slow-ass loading. From the little

[2015-02-05 14:59] keithdmoore commented on #36
Even if its in a service, it going to have to be put on the scope.  Not saying it's a bad idea.  Just dont know if it would fix our issue.  Feel free to dive in and change it up.  I just want to avoid loading the posts across view clicks.  Slows the app down and makes for a not so great experience.

[2015-02-05 15:00] keithdmoore commented on #36
@rvanbaalen Markers only have posts that have geo data.  need all of the posts not just the ones with geo info

[2015-02-06 04:55] keithdmoore commented on #36
After looking at this further and a discussion with @diegonetto, I am going to create a PostsService

[2015-02-06 07:45] keithdmoore commented on #36
@diegonetto I am finished implementing an initial refactoring HomeCtrl to use a PostsService with this commit: https://github.com/trendicity/trendicity/commit/a53a20b07eb6158a43d3f8f72a64a60499ad355f. During this exercise, I found that the map appears to not hang like it did before.  I might have fixed the map issues by doing this.  What a bonus!  I still need to make some more changes to get Favo

[2015-02-06 11:30] rvanbaalen commented on #36
Omg thats so cool! Thanks keith! Ill go ahead and pull in the project today. At my office we have multiple mobile test devices and Im about to give them all a spin: Galaxy S3, Galaxy S4, iPhone 4s, iPhone 5 and iPhone 6. These are, at least in this part of the world :wink:, the most used devices atm.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-02-06 12:32] rvanbaalen commented on #36
I don't wanna spoil all the fun but the map is still slow here (iPhone 6) and loading a favorite location doesn't work. No promises yet but perhaps we could take a look at it together tonight.

[2015-02-08 19:25] keithdmoore commented on #36
With all the changes this not a concern any longer.

[2015-02-08 19:25] #36 closed

[2015-02-08 19:26] keithdmoore commented on #45
this has been resolved thanks to @diegonetto

[2015-02-08 19:26] #45 closed

[2015-02-08 19:27] keithdmoore opened #49 "Tabs show up at the top on Android devices"

[2015-02-08 19:27] #49 closed

[2015-02-08 19:31] rvanbaalen commented on #49
Thats by Ionics design?

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-02-08 19:34] keithdmoore commented on #49
Yes.  They seem to be setting defaults based on iOS versus Android.

http://ionicframework.com/docs/api/provider/%24ionicConfigProvider/

[2015-02-08 19:50] rvanbaalen commented on #49
Its stupid. I'd prefer same design on both platforms instead of ajusting design to platform standards.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-02-08 19:51] keithdmoore commented on #49
That would be my preference too.  I like the idea of the same look and feel across platforms.

[2015-02-08 20:29] keithdmoore opened #50 "Right side buttons on map are stacked on Android 4.4.2 Galaxy Tab 3 (10-inch)"

[2015-02-08 20:31] keithdmoore commented on #50
![screenshot_2015-02-08-14-25-33](https://cloud.githubusercontent.com/assets/954458/6098282/1828fb34-af9f-11e4-9cc4-df1e41a5bf34.png)

[2015-02-08 20:31] #50 closed

[2015-02-08 20:34] keithdmoore commented on #50
Related issue in ionic forum here:  http://forum.ionicframework.com/t/second-header-button-stacks-on-android-4-4/4049

[2015-02-08 21:31] keithdmoore opened #51 "List view only shows one post when navigating from Map View to List View"

[2015-02-08 21:31] keithdmoore commented on #51
@antonshevchenko Can you check this out?  Not sure what the problem is.

[2015-02-09 06:07] keithdmoore opened #52 "Map does not always goto the users current location"
When using a device, on a coldstart, the map sometimes does not change to the user's current location.
Appears to be a race condition.

[2015-02-09 06:12] #52 closed

[2015-02-09 12:47] antonshevchenko commented on #51
@keithdmoore I'll see to it tonight!

[2015-02-09 19:38] diegonetto commented on #47
Modified the behavior so this is no longer an issue.

[2015-02-09 19:38] #47 closed

[2015-02-09 19:39] diegonetto commented on #46
Modified the behavior. Now that we're using an Uber-esque pin, this is no longer an issue.

[2015-02-09 19:39] #46 closed

[2015-02-09 19:40] diegonetto opened #53 "Map Popup image design"
Should we style this or change it to using a Modal instead?

[2015-02-09 19:41] diegonetto opened #54 "Map Popup "Like" Button"
This functionality has yet to be implemented.

[2015-02-09 19:42] diegonetto opened #55 "Geolocation Triggered Twice"
From a cold start, the Geolocation service is trigged twice in the HomeCtrl and MapCtrl.

I was experiencing app slow down having the HomeCtrl kick off Geolocation, so this deserves some thinking.

Maybe we have the Geolocation service cache geolocation requests for a small amount of time?

[2015-02-09 19:43] diegonetto opened #56 "ListView Action Sheet "Favorite Post's Location""
This functionality has yet to be implemented.

[2015-02-09 19:46] diegonetto opened #57 "Code Quality"
Some standardization across how we're handling Dependency Injection across all components, as well as the use of `this` in controllers versus `$scope` needs to be addressed.

[2015-02-09 19:53] diegonetto opened #58 "Any Questions? slide of intro wizard is incomplete"
We should add a link to our marketing site, our names, link to the repo, and any other information we think would make sense to be displayed here.

[2015-02-09 22:44] rvanbaalen commented on #53
I think the current size is cool but it might help to throw in an animation or so. To open it smoother.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-02-10 01:35] keithdmoore commented on #57
Which are you suggesting is better?  Using "this" or using $scope ?

[2015-02-10 02:19] rvanbaalen commented on #57
From my perspective, using the `controller as` syntax in combination with using `this.` notation in the controller is best practise these days.

[2015-02-10 02:27] rvanbaalen commented on #40
I suppose this is done now. @diegonetto will update the chapter with latest developments.

[2015-02-10 02:27] #40 closed

[2015-02-10 02:28] rvanbaalen commented on #41
Whats the status on this one? Deprecated right?

[2015-02-10 02:29] rvanbaalen commented on #56
What do you mean exactly? I get 'list view' and 'action sheet' but what's your idea with this

[2015-02-10 02:42] #55 closed

[2015-02-10 03:08] #54 closed

[2015-02-10 04:03] keithdmoore commented on #57
@diegonetto can you elaborate on this?

[2015-02-10 13:19] antonshevchenko commented on #56
@diegonetto This is already implemented. If a post has a location, by holding down on the image an action sheet will open up with the "Favorite" option.

[2015-02-10 13:34] keithdmoore commented on #56
I just tried it for a post with a location and it did not add the location to Favorites

[2015-02-10 13:35] antonshevchenko commented on #56
I'll check it out today

[2015-02-10 17:02] #51 closed

[2015-02-10 17:14] antonshevchenko commented on #56
Created a PR for this.

[2015-02-11 02:08] diegonetto commented on #57
Honestly, I personally think saving a reference to `this`, then having to `angular.bind()` the current context for `$scope.$watch()` functions to work on controller variables adds more lines of code and can be confusing for newcomers because of [prototypal inheritance](https://github.com/angular/angular.js/wiki/Understanding-Scopes#javascript-prototypal-inheritance).

That being said, the `control

[2015-02-11 02:26] rvanbaalen commented on #57
$scope notation it is.

Not sure if its related but I always thought that binding verything to $scope also had an performance impace over controller as syntax.

And since Angular 1.3 they do recommend controller as syntax, right? But as you said we would have to cover that shortly in the book. And most of the code is bound to $scope already so that doesnt take much refactoring.

---
This email was

[2015-02-11 02:28] keithdmoore commented on #57
I am about to commit some home.js changes to use $scope and some misc cleanup

[2015-02-11 02:39] rvanbaalen commented on #57
Great!

---
This email was sent from my iPhone and therefore subject to typos and other inaccuracies.

[2015-02-11 02:44] keithdmoore commented on #57
@rvanbaalen Can you resolve the jshint errors for these ?
controllers/intro.js
controllers/map.js
services/geolocation.js

@antonshevchenko  Can you resolve the jshint errors for these ?
controllers/list.js
directives/on-dbl-tap.js

I will take the rest

[2015-02-11 03:10] keithdmoore commented on #58
@diegonetto Are you talking about hybridcollective.org ?  Is that the name we should register ?  Any body else have any thoughts on this ?

I think Troy reserved trendicity.com.

[2015-02-11 03:41] keithdmoore opened #60 "Favorites - Remove is not working"

[2015-02-11 03:42] #60 closed

[2015-02-11 04:09] #56 closed

[2015-02-13 03:13] #57 closed

[2015-02-13 03:14] keithdmoore commented on #53
Can we close this ?

[2015-02-13 03:14] keithdmoore commented on #41
Yep!

[2015-02-13 03:14] #41 closed

[2015-02-13 03:29] rvanbaalen commented on #53
Yes we can.

[2015-02-13 03:29] #53 closed

[2015-02-16 01:00] keithdmoore commented on #58
Troy reserved trendicity.io  I think this should be used for the marketing url for the app itself.

[2015-02-16 01:35] keithdmoore commented on #58
Closed by 20bfc3aae2cd8afd44015d1bf83cbbae397d8c1d

[2015-02-16 01:35] #58 closed

[2015-02-16 21:43] troymott commented on #58
Thanks, it is actually trendicity.co.

We will get that going.

--Troy

[2015-03-02 02:36] rvanbaalen opened #63 "Intro navigation buttons flicker on slide change"
For a short period of time, both buttons show in the header bar.

[2015-03-02 02:36] keithdmoore commented on #63
I just noticed this too a few minutes ago

[2015-03-02 02:48] rvanbaalen commented on #63
When on the last (third) slide and clicking back, the next button shows 'Explore' instead of 'Back' on the second slide

[2015-03-02 04:18] rvanbaalen commented on #63
Overlooked a better way to fix this problem by simply adding

[code]

Though that Ionic already incorporated that in their CSS when I tested if `ng-hide` would fix this. @diegonetto noted that they didn't. Therefore we're getting rid of the ugly switch statement and back to multiple buttons, the right way.

[2015-03-02 04:24] rvanbaalen commented on #63
Sorry, too eager to commit. Let me test this first.

[2015-03-02 04:25] #63 closed

[2015-03-02 04:26] rvanbaalen commented on #63
Aaaand we're ready for retest

[2015-03-02 04:53] rvanbaalen commented on #63
@keithdmoore @antonshevchenko @diegonetto @alevicki

Is the flickering button bug fixed?

[2015-03-02 05:07] antonshevchenko commented on #63
@rvanbaalen Works great!

[2015-03-02 05:14] rvanbaalen opened #64 "Ionicons dependency and ios7 prefixes"
Which Ionicons dependency do we use and shouldn't we get rid of the `-ios7-` prefix in favour of `-ios-`?

In bower I see `"ionicons": "~2.0.1"` as a dependency but when I check I only see the ionicons dependency from the `ionic` library being used, which is version `1.*` and still has the `-ios7-` prefixes in there.

[2015-03-02 05:14] rvanbaalen commented on #64
I believe this is also one of the notes by our reviewers.

[2015-03-02 05:30] rvanbaalen opened #65 "What to do with all the console.logs"
There are **lots** of `console.log` calls in the app. What do we do with them?

I sometimes even spot code of which it's sole purpose is eventually calling `console.log` like for example this little gem:

[code]

What do we do with that? I feel like it shouldn't be in the source if it doesn't have a purpose beside 'placeholder' logging.

[2015-03-02 06:19] antonshevchenko commented on #64
I'm pretty sure I switched the icons to the new ones. We include all new ionicons in Sass.

[2015-03-02 13:36] keithdmoore commented on #65
That particular one is for demonstration purposes

[2015-03-02 13:40] rvanbaalen commented on #65
And all others? There are *lots* of `console.log`'s

------------------------------------------
Neverwoods
Margrietlaan 10
Willemstad, Curaçao
T (+599 9) 522 9996
W http://www.neverwoods.com

"we create the future"

On Mon, Mar 2, 2015 at 9:36 AM, Keith D. Moore <notifications@github.com>
wrote:

[2015-03-02 13:43] keithdmoore commented on #65
Mostly to let the developer know what is going on in general.

[2015-03-02 13:51] rvanbaalen commented on #65
I know what a `console.log` in general does :wink:

What I meant to say is: should it be there? We're publishing the app to the
App Stores; will they allow `console.log`'s? I'm not sure if it's the way
to go but for example when I write about a feature that we didn't use in
Trendicity, I just add that to my writing like 'you can also do this *code
example* but we havent done that in Trendicity'.

[2015-03-02 15:23] rvanbaalen commented on #64
Wauw. I was probably smoking. This is not an issue at all.

[2015-03-02 15:23] #64 closed

[2015-03-02 16:28] rvanbaalen commented on #65
Shouldn't be adding issues late at night.. this is apparently another non-issue :wink:

We've discussed this topic on Google Hangouts and concluded that `console.logs` aren't that bad after all.

[2015-03-02 16:28] #65 closed

[2015-03-02 16:35] rvanbaalen commented on #65
Unused code blocks will be removed.

[2015-03-23 17:17] gulench opened #66 "No Instagram posts when accessed via "Ionic View""
Instagram posts come up while running the app in the browser. But if you upload the application and view it via "Ionic View", the Instagram posts do not appear, be it on the map, card or list views.

[2015-03-23 17:32] rvanbaalen commented on #66
That could be related to the use of a proxy. Can you confirm this is still an issue if you install the app like we describe in the book, by running `ionic run ios` or `ionic run android` or `emulate` instead of `run` for that matter.

[2015-03-23 20:14] gulench commented on #66
It seems `ionic.Platform.isWebView()` returns `false` while running inside Ionic View.

Inside `instagram.js`, changing the following line
[code]
to
[code]
did the trick!

[2015-03-23 20:14] #66 closed

[2015-04-10 08:43] jakblak opened #67 "Instagram"
Hi, I can't seem to get my photos to display. I'm able to login via the browser but it returns a 404 whenever the images are called on map, list or card.  I was able to upload the app via Ionic View and display on my iPhone6.  But when trying to login I received an Error page.  I also tried with using my own Client ID but received same issues.

[2015-04-10 12:40] keithdmoore commented on #67
Can you login to Instagram by going to http://instagram.com ?

[2015-04-12 00:00] jakblak commented on #67
Yes, when I'm logged in it does show me as being logged into the app and that the app is authorized.  But I get a 404 in my console.
![img](https://cloud.githubusercontent.com/assets/5496929/7103753/1321516a-e06c-11e4-9b91-421738ea8a47.png)

[2015-04-12 00:07] keithdmoore commented on #67
Are you using ionic serve command?

[2015-04-12 00:09] keithdmoore commented on #67
Also, make sure u run: 'npm install'

[2015-04-12 01:06] jakblak commented on #67
yes, npm installed the node_modules and running ionic serve with rest of app running fine.  Here is another screenshot, it looks like its not GETing media from the passed in geolocation.
![img](https://cloud.githubusercontent.com/assets/5496929/7103955/69bf7fc0-e075-11e4-8d18-25156c8a340c.png)

[2015-04-12 01:50] keithdmoore commented on #67
Ok.  I see.  That makes sense.  If no posts are found for a location then a 404 is returned.  What happens when you goto the card or list view and tap the magnifying glass and tap Trending?

[2015-04-12 03:07] jakblak commented on #67
So I got it to work!  For some reason on the Node terminal the Proxy Added: /instagram/api
wasn't geting called.  I happened to start it on my windows terminal and now the app is displaying the images.

Log in doesn't work using Ionic View but I might get and test on Android, thanks for the help.

[2015-04-12 12:50] keithdmoore commented on #67
Glad you got it to work.  You will need to use the real api endpoint to run the app in Ionic View.

[2015-04-17 13:38] dgtman opened #68 "Available on the App Store link not working"
The "Available on App Store" link to the iPhone app doesn't work on your website
http://www.trendicity.co/

For that matter, I can't find it in the Apple app store when I search directly.  I'd really like to see that an Ionic app can make it past Apple's super strict review process.

[2015-04-17 14:10] keithdmoore commented on #68
There are Ionic apps in the app store.  It is just a rather lengthy process for any app, period.  We hope to have it out there soon.  Hopefully by the middle of next week, it will be out there.

[2015-04-17 15:07] dgtman commented on #68
The instructions on Ionic's website are a little light in terms of explaining the process of deploying to the Apple App Store (the Android instructions are a bit more robust).  It would be great if there were some detailed instructions on the Apple App Store deployment process.

Given how strict Apple tends to be, it would be great if there was a list of "gotchas" (or dos and don't) for keeping Ap

[2015-04-17 15:52] keithdmoore commented on #68
Getting into the Apple App store is problematic for even true native apps.  Documentation for the process is difficult because they are constantly changing stuff.  Either Xcode changes or iTunesConnect changes, etc, etc.   The book doesn't address this.  Some issues can be found early on if you deploy to the beta review process.  Like for example, I needed to setup a demo account for them to acces

[2015-04-17 15:53] rvanbaalen commented on #68
The authors of this book combined have released several Ionic based apps to the app stores (both Apple's and Google's) without any problems.

From personal experience I can say that I never had any problems releasing a Cordova app to the stores.

Thanks for the compliments on the app :+1: hope it helps you.

[2015-04-17 15:55] rvanbaalen commented on #68
Its true what Keith said by the way. The process changes so often that its hardly doable for us to explain it in a book. As soon as we would publish it, it would be outdated.

[2015-05-14 21:42] ppo commented on #68
Still not available on the App Store?

[2015-05-14 22:32] rvanbaalen commented on #68
Apple has changed their policy related to third party content. Were now required to implement a filtering service on our own hosted server to enable users to report any of the instagram posts as inapropriate.

This requires quite some added work for Trendicity which is not covered in the book. We are working on it though. Just dont hold your breath.

If you clone the repo and read the book you'll

[2015-05-14 22:56] ppo commented on #68
Thanks for the quick answer. I'll do that. It was to that a quick look before buying/reading the book ;-)

[2015-05-14 23:04] keithdmoore commented on #68
You can also check out the app in your browser as well.

[2015-05-15 04:52] ppo commented on #68
That's also a good idea ;-)

[2015-05-31 01:47] keithdmoore commented on #68
App is in the Apple App Store.  Sorry for the delay

[2015-05-31 01:47] #68 closed

[2015-05-31 01:50] #67 closed

[2015-06-28 07:14] frbrkoala opened #69 "URL blocked by whitelist on Android"
Hi guys. First time I tried to run the Trendicity app on my Android 5.1, I've got an error: "URL blocked by whitelist on Android". This was for both, Google Maps tile server and geospacial reverse lookup service. The problem was solved by adding cordova-plugin-whitelist pluign with this command:
"cordova plugin add https://github.com/apache/cordova-plugin-whitelist.git".
You probably need to inclu

[2015-06-28 16:30] #69 closed

[2015-07-10 23:06] Robinyo opened #70 "Running the app in Chrome"
When you run the app in Chrome:

![screen shot 2015-07-11 at 08 56 57](https://cloud.githubusercontent.com/assets/12203540/8630625/88ea4d1c-27ab-11e5-8488-6fc2e227a7d4.png)

Several errors are reported in the console:

![screen shot 2015-07-11 at 08 57 28](https://cloud.githubusercontent.com/assets/12203540/8630639/b1b1ef66-27ab-11e5-8e5e-e248613f5c39.png)

[2015-07-10 23:37] Robinyo opened #71 "/www/js/config.js"
Is `/www/js/config.js` used by the app?

N.B. Its not mentioned in the text of the book.

[2015-07-10 23:43] keithdmoore commented on #71
No.  We initially used the Yeoman Ionic Generator to create the app.   It needs to be removed.

[2015-07-10 23:48] Robinyo commented on #71
Ahh, the generator authored by Diego.

Thanks.

[2015-07-10 23:52] keithdmoore commented on #71
Correct.  Some of the early feedback we got was to use gulp instead of grunt so we decided to just use the Ionic gulp base.  Most of the team uses the generator for new projects because it offers quite a few benefits.

[2015-07-10 23:55] keithdmoore commented on #70
Looks like some external dep got updated and broke something.

[2015-07-11 08:12] Robinyo commented on #70
$ionic info

Your system information:

Cordova CLI: 5.1.1
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.0
Ionic Version: 1.0.0
Ionic CLI Version: 1.6.1
Ionic App Lib Version: 0.3.3
ios-deploy version: Not installed
ios-sim version: 3.1.1
OS: Mac OS X Yosemite
Node Version: v0.12.5
Xcode version: Xcode 6.4 Build version 6E35b

Note: This errors only occur in the 'Map View'.

[2015-07-11 08:35] Robinyo commented on #71
To remove the config module In app.js you just need to:
-  remove the reference to 'config'
- .run(function($rootScope, $ionicPlatform) {  // .run(function($rootScope, $ionicPlatform, ENV)
- // console.log('Environment:', ENV.name);

BTW, it would be good if you could add comments like https://github.com/johnpapa/angular-styleguide#style-y165

angular.module('Trendicity', [

  // see /www/js
  'co

[2015-07-11 12:12] keithdmoore commented on #71
I forgot.   The app is using the ENV hash.

[2015-08-06 01:18] freeever opened #72 "Failed at the trendicity@1.0.0 preinstall script 'npm install -g cordova ionic gulp bower'."
I checkout the project using git, tried to run "npm install -g cordova ionic gulp bower" in Windows7 command line, the following error happened:

0 info it worked if it ends with ok
1 verbose cli [ 'D:\dev\nodejs\\node.exe',
1 verbose cli   'D:\dev\nodejs\node_modules\npm\bin\npm-cli.js',
1 verbose cli   'install' ]
2 info using npm@2.10.1
3 info using node@v0.12.4
4 verbose readDependencies loadi

[2015-08-06 01:37] keithdmoore commented on #72
I don't have a windows environment to test this on.  My apologies, I am not sure what the problem is.

[2015-08-06 01:39] keithdmoore commented on #72
I did notice there are references to  "D:" and "F:"  That maybe be the source of your problem.  Maybe node is installed on the "D" drive and your are executing this on your "F:" drive, perhaps.

[2015-08-06 02:59] freeever commented on #72
Thanks for your quick reply. I believe it is OK that the NodeJS and Project are on different drive. I thought it might be caused by missing node-gyp. I will install node-gyp as per instruction at https://github.com/TooTallNate/node-gyp and let you know the result.
Thanks,
Daniel

[2015-08-06 03:00] freeever commented on #72
I closed this issue by accident. Could you re-open it? thanks

[2015-09-10 03:13] arthurparahyba opened #73 "Problem with npm install"
I keep getting this error when I run npm install:

npm ERR! 404 Registry returned 404 for GET on http://registry.npmjs.org/trendicity
npm ERR! 404
npm ERR! 404 'trendicity' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, http url, or git url.

n

[2015-09-10 03:15] keithdmoore commented on #73
Are you sure the current directory is "trendicity" when running npm install?

[2015-09-10 03:17] arthurparahyba commented on #73
Yes, i'm sure.

[2015-09-10 03:23] keithdmoore commented on #73
And you cloned the project from the repo correct?

[2015-09-10 03:35] arthurparahyba commented on #73
I think so.

$ git clone https://github.com/trendicity/trendicity
Cloning into 'trendicity'...
remote: Counting objects: 2683, done.
remote: Total 2683 (delta 0), reused 0 (delta 0), pack-reused 2683
Receiving objects: 100% (2683/2683), 6.55 MiB | 198.00 KiB/s, done.
Resolving deltas: 100% (1715/1715), done.
Checking connectivity... done.

$ cd trendicity/

Arthur@parahyba MINGW64 ~/ionic-projects

[2015-09-10 04:06] #73 closed

[2015-09-21 21:59] svennela opened #74 "Failed to do npm install on MAC"
(node) child_process: options.customFds option is deprecated. Use options.stdio instead.
  CXX(target) Release/obj.target/binding/binding.o
In file included from ../binding.cpp:1:
../node_modules/nan/nan.h:189:68: error: too many arguments to function call, expected at most 2, have 4
    return v8::Signature::New(v8::Isolate::GetCurrent(), receiver, argc, argv);
[code]

[2015-09-25 03:38] keithdmoore commented on #74
This does not appear to be an issue with the Trendicity project. Are you running El Capitan perhaps?

[2015-12-10 18:41] briantbates commented on #74
I'm running into the same problem. Is El Capitan problematic with ionic/angular/this app? Fairly new to the development world.

[2015-12-13 12:56] prideyang commented on #74
I use El Capitan. and has same problem also.

[2015-12-17 04:05] #71 closed

[2015-12-17 04:12] keithdmoore commented on #74
I recently upgraded to El Capitan and I am not able to recreate any of these issues.
node version -> 0.12.2
cordova version -> 5.4.1
ionic cli version -> 1.7.12

<img width="1356" alt="screen shot 2015-12-16 at 10 10 52 pm" src="https://cloud.githubusercontent.com/assets/954458/11861072/01b72b4e-a442-11e5-9a7b-4e6b3f2c2cc8.png">

[2016-01-21 14:44] vondaero1 opened #75 "Error: cannot find module 'bower' when ionic serve return in windows8"
I cloned. and in the directory I typed ionic serve returned. but errors occured following scripts.
i installed in windows8 64bit, bower version: 1.7.2, cordova version:5.4.1, ionic:1.7.13, node:v4.2.5
## what's wrong?

ionic $ module.js:328
    throw err;
    ^

Error: Cannot find module 'bower'
    at Function.Module._resolveFilename (module.js:326:15)
    at Function.Module._load (module.js:277:

[2016-04-19 09:05] abraham-joseph opened #76 "css folder missing"
I tried to clone the project but found that the css folder is missing

[2018-06-03 14:28] #72 closed

[2018-06-03 14:28] freeever commented on #72
out of date